# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /razorbee/nagaraja/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /razorbee/nagaraja/index.php [L]
</IfModule>
